{
   "stage" : "$context.stage",
   "request-id" : "$context.requestId",
   "api-id" : "$context.apiId",
   "resource-path" : "$context.resourcePath",
   "resource-id" : "$context.resourceId",
   "path": {
     #foreach($path in $input.params().path.keySet())
       "$path": "$util.escapeJavaScript($input.params().path.get($path))" #if($foreach.hasNext),
       #end
     #end
   },
   "http-method" : "$context.httpMethod",
   "source-ip" : "$context.identity.sourceIp",
   "user-agent" : "$context.identity.userAgent",
   "account-id" : "$context.identity.accountId",
   "api-key" : "$context.identity.apiKey",
   "caller" : "$context.identity.caller",
   "user" : "$context.identity.user",
   "user-arn" : "$context.identity.userArn",
   "query-string": {
      #foreach($querystring in $input.params().querystring.keySet())
        "$querystring": "$util.escapeJavaScript($input.params().querystring.get($querystring))" #if($foreach.hasNext),#end
      #end
   },
   "headers": {
      #foreach($header in $input.params().header.keySet())
        "$header": "$util.escapeJavaScript($input.params().header.get($header))" #if($foreach.hasNext),#end
      #end
   },
   "body" : $input.json('$')
}
